.menu{
    margin-left: 400px;
}
.menu a{
    text-decoration: none;
}
.menu a:hover{
    color: black;
}
main p{
    margin-left: 500px;
    width :500px
}
main img{
    margin-left: 500px;
}
main a{
    text-decoration: none;
}
main a:hover{
    color: aqua;
}