*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(196, 243, 196);
}
header{
    background-color: rgb(223, 223, 248);
    display: flex;
    height: 60px;
}
footer{
    height: fit-content;
    background-color: rgb(223, 223, 248);
    padding-left: 300px;
}
.icon img{
    width: 40px;
    height:40px ;
    border-radius: 100px;
}

.icon{
   
    margin: 10px 20px;
    width: 40px;
}

.title{
    padding-left: 200px;
}
.title > h1{
    font-family:fantasy;
    color: darkgreen;
}