*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: rgb(196, 243, 196);
}
header{
    display: inline;
}
.icon{
    margin: 10px 20px;
    width: 40px;
}
.icon img{
    width: 40px;
    height:40px ;
    border-radius: 100px;
}